<section class="section">
	<h1 class="title">一覧</h1>
	<p><a href="<%= new_user_path %>" class="btn-orange">新規作成</a></p>
	<ul class="list">
		<%- @users.each do |user| %>
			<li class="list_item">
				<span class="list_item_id"><%= user.id %></span>
				<strong class="list_item_name"><%= user.name %></strong>
				<div class="list_item_operation">
					<a href="<%= user_path(id: user.id) %>" class="btn-white is-sm">詳細</a>
					<a href="<%= edit_user_path(id: user.id) %>" class="btn-blue is-sm">編集</a>
				</div>
			</li>
		<%- end %>
	</ul>
</section>